#cloud-config
########################################
## Sets user name, password, and ssh key
########################################
hostname: {{ item }}
users:
  ######################################
  ## Set user name to local ansible user
  ######################################
  - name: 'bk'
    ###############################
    ## Set user password plain text
    ###############################
    plain_text_passwd: 'ubuntu'
    lock_passwd: false
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    groups: sudo
    ############################################
    ## Generated public key from control machine
    ## see plays/10_generate_ssh_key.yml
    ############################################
    ssh-authorized-keys:
      - {{ ssh_public_key }}
